/*------Общие стили-------*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Rubik', sans-serif;
}

p {
	font-size: 18px;
	line-height: 24px;
}

a {
	text-decoration: none;
}

ul, ol {
	list-style: none;
}

#query {
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	line-height: 20px;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	color: #fff;
	vertical-align: middle;
	border-radius: 50%;
	background-color: #9b38d6;
	margin-left: 5px;
	margin-top: -5px;
}

form,
.form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 30px;
}

form div,
.form div {
	margin-bottom: 30px;
	position: relative;
	width: 100%;
}

form label,
.form label {
	position: absolute;
	padding: 10px;
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
	transition: all .6s;
	color: #707070;
	z-index: 5;
}

form div:not(:last-of-type),
.form div:not(:last-of-type) {
	height: 50px;
}

form div input + label,
.form div input + label {
	height: 50px;
}

form input,
.form input,
form textarea,
.form textarea {
	font-family: 'Rubik', sans-serif;
	border: 0;
	border-bottom: 2px solid #e1e1e1;
	font-size: 16px;
	color: #000;
	padding: 10px;
	position: relative;
	width: 100%;
}

form label::after,
.form label::after {
	content: '';
	display: block;
	background-image: linear-gradient(to right, #a32cd5, #3db3e3, #0f475e);
	transition: all .6s;
	width: 0%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 6;
	height: 2px;
}

form input:focus,
.form input:focus,
form textarea:focus,
.form textarea:focus {
	outline: none;
}

form input:focus + label,
.form input:focus + label,
form input:valid + label,
.form input:valid + label {
	top: -30px;
	height: 80px;
}

form textarea:focus + label,
.form textarea:focus + label,
form textarea:valid + label,
.form textarea:valid + label {
	top: -30px;
	height: 130px;
}


form input:focus + label::after,
form input:valid + label::after,
.form input:focus + label::after,
.form input:valid + label::after,
form textarea:focus + label::after,
form textarea:valid + label::after,
.form textarea:focus + label::after,
.form textarea:valid + label::after {
	width: 100%;
}


form input,
.form input {
	height: 50px;
}

form textarea,
.form textarea {
	height: 100px;
	resize: none;
}

button,
.button {
	height: 50px;
	display: block;
	line-height: 46px;
	border: 2px solid #9b38d6;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	background: #9b38d6;
	cursor: pointer;
	transition: all .3s;
	letter-spacing: 0.04em;
	margin: 0 auto;
	margin-top: 40px;
	padding: 0 25px;
	transition: all .6s;
}

form button,
form .button {
	width: 100%;
}

button:hover,
button:active,
.button:hover,
.button:active {
	background: #fff;
	color: #9b38d6;
	transition: all .3s;
}

/*------ Шапка -------*/

header {
	background: url(img/bg-2.svg) no-repeat center top;
	background-size: cover;
	position: relative;
	border-bottom: 2px solid #1c566e;
}

header::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255, .8);
}

header > div {
	width: 100%;
	padding: 30px;
	padding-bottom: 150px;
	text-align: center;
	position: relative;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

header > div > a {
	display: block;
	width: 300px;
}

header > div > a img {
	width: 100%;
}

/*------ Навигация -------*/

nav {
	height: 40px;
}

nav ul {
	display: flex;
	justify-content: space-between;
}

nav ul li a {
	display: block;
	color: #000;
	text-transform: uppercase;
	padding: 0 20px;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	transition: all .3s;
}

nav ul li a:hover,
nav ul li a.active {
	color: #7f63e0;
	transition: all .6s;
}

nav ul li:last-child a {
	background: url(img/login.svg) no-repeat center center;
	background-size: 30px;
	width: 70px;
}

.nav-btn {
	width: 45px;
	height: 45px;
	background: url(img/menu.svg) no-repeat center center;
	background-size: cover;
	border: 0;
	display: none;
}

/*------ Основной контент -------*/

main {
	position: relative;
	z-index: 3;
	margin-top: -50px;
	margin-bottom: 80px;
}

.centering {
	width: 96%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.centering > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

section h2 {
	display: inline-block;
	height: 100px;
	padding: 0 40px;
	margin: 0 auto;
	margin-bottom: 60px;
	text-align: center;
	font-size: 40px;
	letter-spacing: 0.04em;
	color: #1c566e;
	font-weight: 500;
	line-height: 100px;
	border: 2px solid #1c566e;
	background-color: #fff;
}

/*------ Подвал -------*/

footer {
	position: relative;
	padding: 10px 40px;
	background: #1c566e;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

footer p,
footer a {
	color: #fff;
	letter-spacing: 0.04em;
}

footer p {
	font-size: 16px;
}

/*------ Стили социальных сетей -------*/

.social {
	display: flex;
	justify-content: space-between;
}

.social li:not(:last-child){
	margin-right: 10px;
}

.social a {
	display: block;
	width: 40px;
	height: 40px;
	border: 2px solid #fff;
	border-radius: 50%;
	transition: all 1s;
}

.social a:hover {
	transform: rotate(360deg);
	transition: all .5s;
}

.social .vk {
	background: url(img/vk.svg) no-repeat center center;
	background-size: 25px;
}

.social .insta {
	background: url(img/instagram.svg) no-repeat center center;
	background-size: 25px;
}

/*------ Стили главной страницы -------*/

.home header {
	height: 75vh;
	border: none;
}

.home header::before {
	display: none;
}

.home header > div {
	background-color: rgba(255, 255, 255, 0.9);
	top: 50%; 
	padding: 40px;
	-webkit-transform: translateY(-50%); 
		transform: translateY(-50%);
	justify-content: center;
}

.home header > div > a {
	width: 60%;
	max-width: 960px;
}

.home nav {
	width: 98%;
	max-width: 960px;
	margin-top: 30px;
}

.home main {
	margin: 0;
}

/*------ Стили секции с этапами формирования заказа -------*/

#section-steps {
	width: 100%;
	height: 25vh;
}

#section-steps ul {
	display: flex;
	justify-content: space-between;
}

#section-steps ul li {
	height: 25vh;
	display: block;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

#section-steps ul li:not(:last-child) {
	width: 16.66666%;
	padding: 15px;
}

#section-steps ul li:nth-child(1) {
	background-color: #9b38d6;
}
#section-steps ul li:nth-child(2) {
	background-color: #7f63e0;
}
#section-steps ul li:nth-child(3) {
	background-color: #589ce3;
}
#section-steps ul li:nth-child(4) {
	background-color: #3bb3e2;
}
#section-steps ul li:nth-child(5) {
	background-color: #2ba3c5;
}
#section-steps ul li:nth-child(6) {
	background-color: #1e819c;
}

#section-steps ul li:last-child {
	background-color: #104a60;
	transition: all .6s;
}

#section-steps ul li:last-child:hover {
	background-color: #fff;
}

#section-steps ul li:last-child a {
	transition: all .6s;
	display: block;
	height: 100%;
	text-align: center;
	text-decoration: none;
	line-height: 60px;
	font-size: 18px;
	text-align: center;
	writing-mode: tb-rl;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	letter-spacing: 0.1em;
}

#section-steps ul li:last-child:hover a {
	color: #104a60;
}

#section-steps ul li span {
	display: block;
	position: absolute;
	font-size: 124px;
	line-height: .8;
	opacity: .2;
	text-align: left;
	right: 10px;
	bottom: 10px;
	transition: all .6s ease;
}

#section-steps ul li h2 {
	font-weight: 400;
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px;
	padding-right: 25px;
	transition: all .6s ease;
}

#section-steps ul li p {
	margin-top: 100%;
	transition: all .6s ease;
	font-size: 18px;
	line-height: 1.5;
}

#section-steps ul li:hover span {
	transform: translateX(150%);
	transition: all .4s ease;
}

#section-steps ul li:hover h2 {
	transform: translateY(-150%);
	transition: all .4s ease;
}

#section-steps ul li:hover p {
	margin-top: 0;
	transition: all .4s ease;
}

/*------ Стили секции "О компании" -------*/

#section-about p {
	margin-bottom: 60px;
}

#section-about h3 {
	margin-bottom: 40px;
}

#section-about form div:not(:last-of-type) {
	width: 48%;
}

/*------ Стили секции "Портфолио" -------*/

#filter-cat ul {
	width: 100%;
	margin-bottom: 30px;
}

#filter-cat ul > li {
	width: 100%;
	text-align: center;
}

#filter-cat ul > li > ol {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

#filter-cat ul > li > ol > li {
	display: block;
	font-size: 16px;
	line-height: 30px;
	height: 30px;
	border: 2px solid #e1e1e1;
	border-radius: 5px;
	padding: 0 10px;
	margin: 0 5px;
	cursor: pointer;
	transition: border .3s;
}

#filter-cat ul > li:first-child > ol > li.active {
	border: 2px solid #9b38d6;
}

#filter-cat ul > li:last-child > ol > li.active {
	border: 2px solid #2ba3c5;
}

#section-projects a {
	display: block;
	width: 49%;
	height: 290px;
	position: relative;
	overflow: hidden;
	margin-bottom: 2%;
	border: 1px solid #e1e1e1;
}

#section-projects a::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #a32cd5;
	opacity: 0;
	transition: all .6s;
}

#section-projects a:hover::before {
	opacity: .9;
}

#section-projects article {
	width: 100%;
	height: 100%;
}

#section-projects article::before,
#section-projects article::after {
	content: '';
	display: block;
	position: absolute;
	height: 50px;
	width: 50px;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	opacity: 0;
	transition: all .6s;
}

#section-projects article::before {
	top: -2px;
	left: -2px;
}

#section-projects article::after {
	transform: rotate(180deg);
	bottom: -2px;
	right: -2px;
}

#section-projects a:hover article::before,
#section-projects a:hover article::after {
	opacity: 1;
}

#section-projects a:hover article::before {
	top: 15px;
	left: 15px;
}

#section-projects a:hover article::after {
	bottom: 15px;
	right: 15px;
}

#section-projects article img {
	width: 105%;
	margin-left: -2.5%;
	transition: all .6s;
}

#section-projects a:hover article img {
	width: 130%;
	margin-top: -7.5%;
	margin-left: -15%;
}

#section-projects article > div {
	position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.1);
    width: 100%;
    height: 100%;
    color: #fff;
	padding: 40px;
	opacity: 0;
	transition: all .6s;
}

#section-projects a:hover article > div {
	transform: scale(1);
	opacity: 1;
}

#section-projects article h3 {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 10px;
}

#section-projects article span.date,
#section-projects article span.type {
	opacity: .9;
}

#section-projects article p {
	margin-top: 30px;
}

#section-projects article span.more {
	position: absolute;
	bottom: 40px;
	right: 40px;
	text-transform: uppercase;
	line-height: 1;
    font-size: 18px;
}

/*------ Стили секции "Заказ" -------*/

#order-steps {
	width: 100%;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	margin-bottom: 50px;
}

#order-steps li {
	display: block;
	width: 20%;
	text-align: center;
}

#order-steps li span:first-child {
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	border: 2px solid;
	border-radius: 50%;
	line-height: 36px;
	margin: 0 auto;
	margin-bottom: 10px;
	background: #fff;
	z-index: 5;
	font-size: 18px;
}

#order-steps li:nth-child(1) span:first-child {
	border-color: #9b38d6;
}
#order-steps li:nth-child(2) span:first-child {
	border-color: #7f63e0;
}
#order-steps li:nth-child(3) span:first-child {
	border-color: #589ce3;
}
#order-steps li:nth-child(4) span:first-child {
	border-color: #3bb3e2;
}
#order-steps li:nth-child(5) span:first-child {
	border-color: #2ba3c5;
}

#order-steps li.passed:nth-child(1) span:first-child {
	background-color: #9b38d6;
}
#order-steps li.passed:nth-child(2) span:first-child {
	background-color: #7f63e0;
}
#order-steps li.passed:nth-child(3) span:first-child {
	background-color: #589ce3;
}
#order-steps li.passed:nth-child(4) span:first-child {
	background-color: #3bb3e2;
}
#order-steps li.passed:nth-child(5) span:first-child {
	background-color: #2ba3c5;
}

#order-steps li.passed span:first-child {
	color: #fff;
}

#order-steps li:not(:last-child) span:first-child::after {
	content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 100%;
    width: 220px;
    height: 2px;
    z-index: 3;
}

#order-steps li:nth-child(1) span:first-child::after {
	background-color: #9b38d6;
}
#order-steps li:nth-child(2) span:first-child::after {
	background-color: #7f63e0;
}
#order-steps li:nth-child(3) span:first-child::after {
	background-color: #589ce3;
}
#order-steps li:nth-child(4) span:first-child::after {
	background-color: #3bb3e2;
}

#order-steps li span:last-child {
	display: none;
}

#order-steps li.active span:last-child {
	display: block;
}

#order-list {
	width: 95%;
	height: 660px;
	overflow: hidden;
	position: relative;
}

#order-list > div:not(:last-child) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 570px;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	transform: translateY(130%);
	transition: all .3s;
	align-content: flex-start;
}

#order-list[data-open="1"] > div:nth-child(1),
#order-list[data-open="2"] > div:nth-child(2),
#order-list[data-open="3"] > div:nth-child(3),
#order-list[data-open="4"] > div:nth-child(4),
#order-list[data-open="5"] > div:nth-child(5) {
    transform: translateY(0);
    opacity: 1;
}

#order-list > div > p {
	width: 100%;
}

#order-list > div > p::after {
	content: '';
	display: block;
	margin: 20px 0;
	width: 40px;
	height: 2px;
	background-color: #e1e1e1;
}

#order-list article {
	width: 32%;
	margin-bottom: 2%;
	border: 2px solid #e1e1e1;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
    position: relative;
    cursor: pointer;
}

#order-list article:hover,
#order-list article.active,
#order-list article.default {
	border: 2px solid #9b38d6;
}

#order-list article::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #9b38d6; 
	opacity: 0;
	transition: all .6s;
}

#order-list article:hover::before {
	opacity: 1;
	transition: all .3s;
}

#order-list article h3 {
	position: relative;
	z-index: 5;
	margin-bottom: 15px;
	width: 100%;
	padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
}

#order-list article:hover h3 {
	color: #fff;
	border-color: transparent;
}

#order-list article span {
	position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    padding: 15px;
}

#order-list article:hover span {
	color: #fff;
}

#order-list article h4 {
	font-weight: 500;
	margin-bottom: 10px;
	width: 100%;
}

#order-list article ul {
	width: 100%;
	margin-left: 10px;
}

#order-list article ul li {
	margin-bottom: 5px;
}

#order-list article li::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 6px;
	height: 6px;
	margin-right: 10px;
	background-color: #1c566e;
	border-radius: 50%;
}

#order-list article button {
	opacity: 0;
	width: 48%;
	height: 40px;
	line-height: 36px;
	margin-left: 0;
	margin-right: 0;
	padding: 0 15px;
	border: 2px solid #fff;
	background-color: transparent;
	color: #fff;
	transition: all .6s;
}

#order-list article.default button {
	width: 100%;
}

#order-list article.default button:hover {
	border: 2px solid #fff;
	background-color: transparent;
	color: #fff;
}

#order-list article button,
#order-list article button + a {
	opacity: 0;
	width: 48%;
	height: 40px;
	line-height: 36px;
	margin-left: 0;
	margin-right: 0;
	padding: 0 15px;
	border: 2px solid #fff;
	background-color: transparent;
	color: #fff;
	transition: all .6s;
	margin-top: 10px;
}

#order-list article button + a {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.04em;
}

#order-list article:hover button,
#order-list article:hover button + a {
	opacity: 1;
	z-index: 6;
	transition: all .3s;
}

#order-list article button:hover,
#order-list article button:active,
#order-list article button + a:hover, 
#order-list article button + a:active {
    background: #fff;
    color: #9b38d6;
    transition: all .3s;
}

#elems-list {
	width: 55%;
	height: 500px;
	position: relative;
}

#elems-list ul:first-child {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
}

#elems-list ul:first-child li {
	display: block;
	width: 60%;
	height: 50px;
	line-height: 50px;
	padding: 0 15px;
	border-bottom: 2px solid #9b38d6;
	cursor: pointer;
	border-radius: 5px 5px 0 0;
}

#elems-list[data-open='1'] ul:first-child li:first-child,
#elems-list[data-open='2'] ul:first-child li:last-child {
	background-color: #9b38d6;
	color: #fff;
}

#elems-list ul:not(:first-child) {
	width: 100%;
	overflow-y: auto;
	height: 450px;
	position: absolute;
	top: 50px;
	left: 0;
	opacity: 0;
	z-index: -1;
	background-color: #fff;
	transition: all .3s;
	padding: 15px;
}

#elems-list[data-open='1'] ul:nth-child(2),
#elems-list[data-open='2'] ul:nth-child(3) {
	opacity: 1;
	z-index: 1;
}

#elems-list ul:not(:first-child) > li > span {
	display: block;
	padding: 10px 15px;
	border: 1px solid #e1e1e1;
	border-bottom-width: 2px;
	position: relative;
	cursor: pointer;
	margin-bottom: 10px;
}

#elems-list ul:not(:first-child) > li > span::after {
	content: '';
	position: absolute;
	display: block;
	opacity: .4;
	top: 7.5px;
	right: 15px;
	width: 25px;
	height: 25px;
	background: url(img/switch.svg) no-repeat center center;
	background-size: cover;
}

#elems-list ul:not(:first-child) ol {
	display: none;
	margin-bottom: 10px;
}

#elems-list ul:not(:first-child) > li.active ol {
	display: block;
}

#elems-list ul:not(:first-child) > li.active span::after {
	opacity: 1;
}

#elems-list ul:not(:first-child) > li ol li img {
	width: 100%;
	height: 50px;
}

#order-list > div:nth-child(3) > figure {
	width: 40%;
	border: 3px dashed #e1e1e1;
	overflow-y: auto;
	height: 500px;
}

#order-list .form p::after {
	margin-bottom: 50px;
}

#order-list .form div {
	width: 100%;
	height: auto;
}

.form label {
	height: 100px;
}

#order-list  .form textarea:focus + label, 
#order-list  .form textarea:valid + label {
	height: 130px;
}

.form input[type=checkbox] {
	display: none;
}

.form input[type=checkbox] + label {
	display: block;
	padding-left: 50px;
	height: auto;
	top: 0;
	position: relative;
}

.form input[type=checkbox] + label span {
	font-size: 18px;
	font-weight: 500;
}

.form input[type=checkbox] + label p {
	font-size: 16px;
}

.form input[type=checkbox] + label::before {
	content: '';
	display: block;
	width: 40px;
	height: 4px;
	background-color: #e1e1e1;
	position: absolute;
	padding: 0;
	left: 0;
	top: 50%;
	margin-top: -2px;
	cursor: pointer;
}

.form input[type=checkbox] + label::after {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #9b38d6;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;
	transition: all .6s;
	opacity: .6;
	cursor: pointer;
}

.form input[type=checkbox]:checked ~ label::after {
	left: 20px;
	opacity: 1;
}

.form input[type=file] {
	display: none;
}

.form input[type=file] + label {
	position: static;
	display: flex;
	align-items: center;
	top: 0;
	height: auto;
}

.form input[type=file] + label::after {
	display: none;
}

.form input[type=file] + label figure {
	width: 200px;
	height: 100px;
	border: 3px dashed #e1e1e1;
	text-align: center;
	margin-right: 30px;
	cursor: pointer;
}

.form input[type=file] + label figure figcaption {
	line-height: 100px;
}

div[data-open=user-create] #user-create,
div[data-open=user-exist] #user-exist {
	display: block;
}

div[data-open=user-create] > p,
div[data-open=user-create] > form,
div[data-open=user-exist] > p,
div[data-open=user-exist] > form {
	display: none;
}

#order-list div:nth-child(5) > div {
	display: none;
	width: 100%;
}

#order-list div:nth-child(5) ul li {
	display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    font-size: 20px;
}

#order-list div[data-open=user-create] #user-create,
#order-list div[data-open=user-exist] #user-exist {
	display: block;
}


#order-list .nav-order {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

#order-list[data-open="1"] .nav-order {
	display: none;
}

#order-list .nav-order a {
	display: block;
	width: 50%;
	line-height: 20px;
	color: #000;
	padding: 15px;
	position: relative;
}

#order-list .nav-order a::before {
	content: '';
	display: block;
	position: absolute;
	top: 12.5px;
	width: 25px;
	height: 25px;
	background: url(img/arrow.svg) no-repeat center center;
	background-size: contain;
	transition: all .6s;
}

#order-list .nav-order a:first-child {
	padding-left: 40px;
	border-right: 1px solid #e1e1e1;
}

#order-list .nav-order a:first-child::before {
	left: 10px;
}

#order-list .nav-order a:first-child:hover::before {
	left: 5px;
	transition: all .3s;
}

#order-list .nav-order a:last-child {
	padding-right: 40px;
	text-align: right;
	border-left: 1px solid #e1e1e1;
}

#order-list .nav-order a:last-child::before {
	right: 10px;
	transform: rotate(180deg);
}

#order-list .nav-order a:last-child:hover::before {
	right: 5px;
	transition: all .3s;
}

#order-price {
	width: 2px;
	height: 660px;
	background-color: #e1e1e1;
	position: relative;
}

#order-price div {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 2px;
	height: 400px;
	background-image: linear-gradient(to top, #a32cd5, #3db3e3, #0f475e);
}

#order-price span {
	position: absolute;
	bottom: 400px;
	left: 10px;
	white-space: nowrap;
}

#section-contacts li {
	margin-bottom: 3px;
}

#section-contacts .contact {
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 40px;
}

#section-contacts .contact li a {
	display: block;
	padding-left: 40px;
	line-height: 40px;
	font-size: 18px;
	color: #000;
	margin-bottom: 15px;
}

#section-contacts .contact .phone a {
	background: url(img/phone.svg) no-repeat center left;
	background-size: 30px;
}

#section-contacts .contact .email a {
	background: url(img/mail.svg) no-repeat center left;
	background-size: 30px;
}






@media screen and (max-width: 1400px) {
	#section-steps ul li h2 {
		font-size: 20px;
	}

	#section-steps ul li p {
		font-size: 16px;
		margin-top: 120%;
	}
}

@media screen and (max-width: 1200px) {
	#section-steps ul {
		flex-wrap: wrap;
	}

	#section-steps ul li:not(:last-child) {
		width: 33.3333%;
	}

	#section-steps ul li:last-child {
		width: 100%;
		height: 60px;
	}

	#section-steps ul li:last-child a {
		width: 100%;
		height: 60px;
		line-height: 60px;
		font-size: 18px;
		text-align: center;
		writing-mode: horizontal-tb;
	}

	#section-steps ul li h2 {
		font-size: 24px;
	}

	#section-steps ul li p {
		font-size: 18px;
	}
}

@media screen and (max-width: 960px) {
	.nav-btn {
		display: block;
	}
	nav {
		display: none;
	}

	.home .nav-btn {
		display: none;
	}
	.home nav {
		display: block;
	}

	section h2 {
		font-size: 32px;
	}
}
@media screen and (max-width: 660px) {

	#section-steps ul li:not(:last-child) {
		width: 50%;
	}

	.home header > div {
		padding: 40px 15px;
	}

	nav ul li a {
		padding: 0 10px;
	}

	section h2 {
		font-size: 24px;
		padding: 0 20px;
	}

	footer {
		flex-direction: column;
	}

	footer p {
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 500px) {

	header > div {
	    align-items: center;
	    flex-direction: column;
	}

	header > div > a {
		margin-bottom: 40px;
	}

	nav {
		height: auto;
	}

	nav ul {
		flex-wrap: wrap;
	}

	nav ul li {
		width: 100%;
	}

	nav ul li a {
		padding: 0 10px;
	}

	nav ul li:last-child a {
		margin: 0 auto;
	}

	#section-steps ul li h2 {
		font-size: 20px;
	}

	#section-steps ul li p {
		font-size: 16px;
	}

	form div:not(:last-of-type) {
		width: 100%;
	}

	section h2 {
		font-size: 21px;
	}

}

@media screen and (max-width: 400px) {
	#section-steps ul li:not(:last-child) {
		width: 100%;
	}

	#section-steps ul li h2 {
		font-size: 24px;
	}

	#section-steps ul li p {
		font-size: 18px;
	}

	section h2 {
		padding: 20px 50px;
    	line-height: 1.4;
	}
}