/*------Общие стили-------*/
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Rubik', sans-serif;
}

p {
	font-size: 18px;
	line-height: 24px;
}

a {
	text-decoration: none;
}

ul, ol {
	list-style: none;
}

.form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
}

.form div {
	margin-bottom: 30px;
	position: relative;
	width: 100%;
	margin-top: 30px;
}

.form label {
	position: absolute;
	padding: 10px;
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
	-webkit-transition: all .6s;
	transition: all .6s;
	color: #707070;
	z-index: 5;
}

.form div:not(:last-of-type) {
	height: 50px;
}

.form input,
.form textarea {
	font-family: 'Rubik', sans-serif;
	border: 0;
	border-bottom: 2px solid #e1e1e1;
	background: transparent;
	font-size: 16px;
	color: #000;
	padding: 10px;
	position: relative;
	width: 100%;
	z-index: 20;
}

.form div input + label {
	height: 50px;
}

.form label::after {
	content: '';
	display: block;
	background-image: -webkit-gradient(linear, left top, right top, from(#a32cd5), color-stop(#3db3e3), to(#0f475e));
	background-image: linear-gradient(to right, #a32cd5, #3db3e3, #0f475e);
	-webkit-transition: all .6s;
	transition: all .6s;
	width: 0%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 6;
	height: 2px;
}

.form input:focus,
.form input.filled,
.form textarea:focus,
.form textarea.filled {
	outline: none;
	border: 1px solid transparent;
}

.form input {
	height: 50px;
}

.form textarea {
	height: 100px;
	resize: none;
}

.form input:focus + label,
.form input.filled + label {
	top: -30px;
	height: 80px;
}

.form input:-webkit-read-only + label,
.form input:-moz-read-only + label {
	top: -30px;
	height: 80px;
}

.form textarea:focus + label,
.form textarea.filled + label {
	top: -30px;
	height: 130px;
}

.form textarea:-webkit-read-only + label,
.form textarea:-moz-read-only + label {
	top: -30px;
	height: 130px;
}

.form input:focus + label::after,
.form input.filled + label::after,
.form textarea:focus + label::after,
.form textarea.filled + label::after {
	width: 100%;
}

.form input:-webkit-read-only + label::after,
.form input:-moz-read-only + label::after,
.form textarea:-webkit-read-only + label::after,
.form textarea:-moz-read-only + label::after {
	width: 100%;
}

.form input[type="date"] + label {
	top: -30px;
    height: 80px;
}

.form input:-webkit-valided + label,
.form input:-moz-valided + label {
	top: -30px;
    height: 80px;
}

.button {
	height: 50px;
	display: block;
	line-height: 46px;
	border: 2px solid #9b38d6;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	background: rgb(155, 56, 215);
	-webkit-transition: all .3s;
	transition: all .3s;
	letter-spacing: 0.04em;
	margin: 0 auto;
	margin-top: 40px;
	padding: 0 25px;
	-webkit-transition: all .6s;
	transition: all .6s;
}

.form .button {
	width: 100%;
}

.button:hover,
.button:active {
	background: #fff;
	color: #9b38d6;
	outline: none;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.help-block {
	display: block;
	margin-top:5px;
	text-align: right;
}

/*------ Шапка -------*/

header {
	background: url(../images/bg-2.png) no-repeat center top;
	background-size: cover;
	position: relative;
	border-bottom: 2px solid #1c566e;
}

header::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255, .8);
}

header > div {
	width: 100%;
	padding: 30px;
	padding-bottom: 150px;
	text-align: center;
	position: relative;
	z-index: 10;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

header > div > a {
	display: block;
	width: 300px;
}

header > div > a img {
	width: 100%;
}

/*------ Навигация -------*/

nav {
	height: 40px;
}

nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

nav ul li a {
	display: block;
	color: #000;
	text-transform: uppercase;
	padding: 0 20px;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	-webkit-transition: all .3s;
	transition: all .3s;
}

nav ul li a:hover,
nav ul li a.active {
	color: #7f63e0;
	-webkit-transition: all .6s;
	transition: all .6s;
}

nav ul li:last-child a {
	width: 70px;
}

.welcome header > div > a.link-home,
header > div > a.link-home {
	width: 70px;
	height: 70px;
	display: none;
	background-size: contain;
}

a.link-login {
	background: url(../images/login.svg) no-repeat center center;
	background-size: 30px;
}

a.link-home-user {
	background: url(../images/user.svg) no-repeat center center;
	background-size: 30px;
}

a.link-home-admin {
	background: url(../images/settings.svg) no-repeat center center;
	background-size: 30px;
}

a.link-logout {
	background: url(../images/logout.svg) no-repeat center center;
	background-size: 30px;
}

.nav-btn {
  display: none;
  position: relative;
  overflow: hidden;
  margin: 0;
  margin-left: -22px;
  padding: 10px;
  width: 110px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
      -moz-appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  background: transparent;
}

.nav-btn:hover,
.nav-btn:active {
  background: transparent;
}

.nav-btn:focus {
  outline: none;
}

.nav-btn > span {
	width: 100%;
	height: 100%;
}

.nav-btn span span {
  display: block;
  position: absolute;
  top: 45px;
  left: 22px;
  right: 22px;
  height: 8px;
  background: #9b38d6;
}

.nav-btn span span::before,
.nav-btn span span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #9b38d6;
  content: "";
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
          transition-delay: 0.3s, 0;
}

.nav-btn span span::before {
  top: -20px;
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, -webkit-transform;
          transition-property: top, transform;
          transition-property: top, transform, -webkit-transform;
}

.nav-btn span span::after {
  bottom: -20px;
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
          transition-property: bottom, transform, -webkit-transform;
}

header.nav-active .nav-btn span span {
  background: none;
}

header.nav-active .nav-btn span span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header.nav-active .nav-btn span span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header.nav-active .nav-btn span span::before,
header.nav-active .nav-btn span span::after {
  -webkit-transition-delay: 0, 0.3s;
          transition-delay: 0, 0.3s;
}

/*------ Основной контент -------*/

main {
	position: relative;
	z-index: 3;
	margin-top: -50px;
	margin-bottom: 80px;
}

.centering {
	width: 96%;
	max-width: 1200px;
	min-height: 80vh;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.centering > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

section h2 {
	display: inline-block;
	height: 100px;
	padding: 0 40px;
	margin: 0 auto;
	margin-bottom: 60px;
	text-align: center;
	font-size: 40px;
	letter-spacing: 0.04em;
	color: #1c566e;
	font-weight: 400;
	line-height: 100px;
	border: 2px solid #1c566e;
	background-color: #fff;
}


/*------ Сайдбар -------*/

.sidebar {
	display: block;
	width: 20%;
	margin-right: 20px;
}

.sidebar li a {
	display: block;
	padding: 15px 8px;
	border-bottom: 1px solid #e1e1e1;
	font-size: 16px;
	color: #000;
	-webkit-transition: background .6s, border .6s;
	transition: background .6s, border .6s;
}

.sidebar li a:hover {
	background: rgba(225, 225, 225, .5);
	border-bottom: 1px solid rgba(225, 225, 225, .45);
	-webkit-transition: background .3s, border .3s;
	transition: background .3s, border .3s;
}


/*------ Подвал -------*/

footer {
	position: relative;
	padding: 10px 40px;
	background: #1c566e;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

footer p,
footer a {
	color: #fff;
	letter-spacing: 0.04em;
}

footer p {
	font-size: 16px;
	text-align: center;
}

/*------ Стили социальных сетей -------*/

.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.social li:not(:last-child){
	margin-right: 10px;
}

.social a {
	display: block;
	width: 40px;
	height: 40px;
	border: 2px solid #fff;
	border-radius: 50%;
	-webkit-transition: all 1s;
	transition: all 1s;
}

.social a:hover {
	-webkit-transform: rotate(360deg);
	        transform: rotate(360deg);
	-webkit-transition: all .5s;
	transition: all .5s;
}

.social .vk {
	background: url(../images/vk.svg) no-repeat center center;
	background-size: 25px;
}

.social .insta {
	background: url(../images/instagram.svg) no-repeat center center;
	background-size: 25px;
}

/*------ Стили главной страницы -------*/

.welcome header {
	height: 75vh;
	border: none;
}

.welcome header::before {
	display: none;
}

.welcome header > div {
	background-color: rgba(255, 255, 255, 0.9);
	top: 50%; 
	padding: 40px;
	-webkit-transform: translateY(-50%); 
		transform: translateY(-50%);
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.welcome header > div > a {
	width: 60%;
	max-width: 960px;
}

.welcome nav {
	width: 98%;
	max-width: 960px;
	margin-top: 30px;
}

.welcome main {
	margin: 0;
}

/*------ Стили секции с этапами формирования заказа -------*/

#section-steps {
	width: 100%;
	height: 25vh;
}

#section-steps ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

#section-steps ul li {
	height: 25vh;
	display: block;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

#section-steps ul li:not(:last-child) {
	width: 16.66666%;
	padding: 15px;
}

#section-steps ul li:nth-child(1) {
	background-color: #9b38d6;
}
#section-steps ul li:nth-child(2) {
	background-color: #7f63e0;
}
#section-steps ul li:nth-child(3) {
	background-color: #589ce3;
}
#section-steps ul li:nth-child(4) {
	background-color: #3bb3e2;
}
#section-steps ul li:nth-child(5) {
	background-color: #2ba3c5;
}
#section-steps ul li:nth-child(6) {
	background-color: #1e819c;
}

#section-steps ul li:last-child {
	background-color: #104a60;
	-webkit-transition: all .6s;
	transition: all .6s;
}

#section-steps ul li:last-child:hover {
	background-color: #fff;
}

#section-steps ul li:last-child a {
	-webkit-transition: all .6s;
	transition: all .6s;
	display: block;
	height: 100%;
	text-align: center;
	text-decoration: none;
	line-height: 60px;
	font-size: 18px;
	text-align: center;
	-webkit-writing-mode: vertical-lr; 
		-moz-writing-mode: tb-rl;
	min-width: 60px;
	padding: 10px 0;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	letter-spacing: 0.1em;
}

#section-steps ul li:last-child:hover a {
	color: #104a60;
}

#section-steps ul li span {
	display: block;
	position: absolute;
	font-size: 124px;
	line-height: .8;
	opacity: .2;
	text-align: left;
	right: 10px;
	bottom: 10px;
	-webkit-transition: all .6s ease;
	transition: all .6s ease;
}

#section-steps ul li h2 {
	font-weight: 400;
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px;
	padding-right: 25px;
	-webkit-transition: all .6s ease;
	transition: all .6s ease;
}

#section-steps ul li p {
	margin-top: 200%;
	-webkit-transition: all .6s ease;
	transition: all .6s ease;
	font-size: 18px;
	line-height: 1.5;
}

#section-steps ul li:hover span {
	-webkit-transform: translateX(150%);
	        transform: translateX(150%);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

#section-steps ul li:hover h2 {
	-webkit-transform: translateY(-150%);
	        transform: translateY(-150%);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

#section-steps ul li:hover p {
	margin-top: 0;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

/*------ Стили секции "О компании" -------*/

#section-about div > p {
	margin-bottom: 60px;
}

#section-about h3 {
	margin-bottom: 40px;
}

#section-about form div:not(:last-of-type) {
	width: 48%;
}

/*------ Стили секции "Портфолио" -------*/

#filter-cat ul {
	width: 100%;
	margin-bottom: 30px;
}

#filter-cat ul > li {
	width: 100%;
	text-align: center;
}

#filter-cat ul > li > ol {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-bottom: 10px;
}

#filter-cat ul > li > ol > li {
	display: block;
	font-size: 16px;
	border: 2px solid #e1e1e1;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 0 5px;
	cursor: pointer;
	-webkit-transition: border .3s;
	transition: border .3s;
}

#filter-cat ul > li:first-child > ol > li.active {
	border: 2px solid #9b38d6;
}

#filter-cat ul > li:last-child > ol > li.active {
	border: 2px solid #2ba3c5;
}

#section-projects a {
	display: block;
	width: 49%;
	height: 300px;
	position: relative;
	overflow: hidden;
	margin-bottom: 2%;
	border: 1px solid #e1e1e1;
}

#section-projects a::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #a32cd5;
	opacity: 0;
	-webkit-transition: all .6s;
	transition: all .6s;
}

#section-projects a:hover::before {
	opacity: .9;
}

#section-projects article {
	width: 100%;
	height: 100%;
}

#section-projects article::before,
#section-projects article::after {
	content: '';
	display: block;
	position: absolute;
	height: 50px;
	width: 50px;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	opacity: 0;
	-webkit-transition: all .6s;
	transition: all .6s;
}

#section-projects article::before {
	top: -2px;
	left: -2px;
}

#section-projects article::after {
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
	bottom: -2px;
	right: -2px;
}

#section-projects a:hover article::before,
#section-projects a:hover article::after {
	opacity: 1;
}

#section-projects a:hover article::before {
	top: 15px;
	left: 15px;
}

#section-projects a:hover article::after {
	bottom: 15px;
	right: 15px;
}

#section-projects article img {
	display: block;
	width: 130%;
	margin-left: -15%;
	-webkit-transition: all .6s;
	transition: all .6s;
	position: relative;
    z-index: -10;
}

#section-projects a:hover article img {
	-webkit-transform: scale(1.2);
	        transform: scale(1.2);
}

#section-projects article > div {
	position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    width: 100%;
    height: 100%;
    color: #fff;
	padding: 40px;
	opacity: 0;
	-webkit-transition: all .6s;
	transition: all .6s;
}

#section-projects a:hover article > div {
	-webkit-transform: scale(1);
	        transform: scale(1);
	opacity: 1;
}

#section-projects article h3 {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 10px;
}

#section-projects article span.date,
#section-projects article span.type {
	opacity: .9;
}

#section-projects article p {
	margin-top: 30px;
}

#section-projects article span.more {
	position: absolute;
	bottom: 40px;
	right: 40px;
	text-transform: uppercase;
	line-height: 1;
    font-size: 18px;
}

/*------ Стили секции "Заказ" -------*/

#order-steps {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	overflow: hidden;
	margin-bottom: 50px;
}

#order-steps li {
	display: block;
	width: 20%;
	text-align: center;
}

#order-steps li span:first-child {
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	border: 2px solid;
	border-radius: 50%;
	line-height: 36px;
	margin: 0 auto;
	margin-bottom: 10px;
	background: #fff;
	z-index: 5;
	font-size: 18px;
}

#order-steps li:nth-child(1) span:first-child {
	border-color: #9b38d6;
}
#order-steps li:nth-child(2) span:first-child {
	border-color: #7f63e0;
}
#order-steps li:nth-child(3) span:first-child {
	border-color: #589ce3;
}
#order-steps li:nth-child(4) span:first-child {
	border-color: #3bb3e2;
}
#order-steps li:nth-child(5) span:first-child {
	border-color: #2ba3c5;
}

#order-steps li span:first-child::after {
	content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    margin-left: 2px;
    left: 100%;
    width: 220px;
    height: 2px;
    z-index: 3;
}

#order-steps li:nth-child(1) span:first-child::after {
	background-color: #9b38d6;
}
#order-steps li:nth-child(2) span:first-child::after {
	background-color: #7f63e0;
}
#order-steps li:nth-child(3) span:first-child::after {
	background-color: #589ce3;
}
#order-steps li:nth-child(4) span:first-child::after {
	background-color: #3bb3e2;
}
#order-steps li:nth-child(5) span:first-child::after {
	background-color: #fff;
}

#order-steps li span:last-child {
	display: none;
}

#order-list {
	width: 95%;
	height: 700px;
	overflow: hidden;
	position: relative;
}

#order-list > div:not(:last-child) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 600px;
	overflow-y: auto;
	background-color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-transform: translateY(130%);
	        transform: translateY(130%);
	-webkit-transition: all .3s;
	transition: all .3s;
	-ms-flex-line-pack: start;
	    align-content: flex-start;
}

#section-order[data-open="1"] #order-list > div:nth-child(1),
#section-order[data-open="2"] #order-list > div:nth-child(2),
#section-order[data-open="3"] #order-list > div:nth-child(3),
#section-order[data-open="4"] #order-list > div:nth-child(4),
#section-order[data-open="5"] #order-list > div:nth-child(5),
#section-order[data-open="6"] #order-list > div:nth-child(6) {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}

#section-order[data-open="2"] #order-steps li:nth-child(1) span:first-child,
#section-order[data-open="3"] #order-steps li:nth-child(1) span:first-child,
#section-order[data-open="4"] #order-steps li:nth-child(1) span:first-child,
#section-order[data-open="5"] #order-steps li:nth-child(1) span:first-child {
	background-color: #9b38d6;
	color: #fff;
}
#section-order[data-open="3"] #order-steps li:nth-child(2) span:first-child,
#section-order[data-open="4"] #order-steps li:nth-child(2) span:first-child,
#section-order[data-open="5"] #order-steps li:nth-child(2) span:first-child {
	background-color: #7f63e0;
	color: #fff;
}
#section-order[data-open="4"] #order-steps li:nth-child(3) span:first-child,
#section-order[data-open="5"] #order-steps li:nth-child(3) span:first-child {
	background-color: #589ce3;
	color: #fff;
}
#section-order[data-open="5"] #order-steps li:nth-child(4) span:first-child {
	background-color: #3bb3e2;
	color: #fff;
}

#section-order[data-open="1"] #order-steps li:nth-child(1) span:last-child,
#section-order[data-open="2"] #order-steps li:nth-child(2) span:last-child,
#section-order[data-open="3"] #order-steps li:nth-child(3) span:last-child,
#section-order[data-open="4"] #order-steps li:nth-child(4) span:last-child,
#section-order[data-open="5"] #order-steps li:nth-child(5) span:last-child {
	display: block;
}

#order-list > div > p {
	width: 100%;
	padding-right: 25px;
}

#order-list > div > p::after {
	content: '';
	display: block;
	margin: 20px 0;
	width: 40px;
	height: 2px;
	background-color: #e1e1e1;
}

#order-list article {
	width: 32%;
	margin-bottom: 2%;
	border: 2px solid #e1e1e1;
	padding: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
    position: relative;
    cursor: pointer;
}

#order-list article:hover,
#order-list article.active,
#order-list article.default {
	border: 2px solid #9b38d6;
}

#order-list article::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #9b38d6; 
	opacity: 0;
	-webkit-transition: all .6s;
	transition: all .6s;
}

#order-list article:hover::before {
	opacity: 1;
	-webkit-transition: all .3s;
	transition: all .3s;
}

#order-list article h3 {
	position: relative;
	z-index: 5;
	margin-bottom: 15px;
	width: 100%;
	padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
}

#order-list article:hover h3 {
	color: #fff;
	border-color: #fff;
}

#order-list article span {
	position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    padding: 15px;
}

#order-list article h4 {
	font-weight: 500;
	margin-bottom: 10px;
	width: 100%;
	z-index: 5;
}

#order-list article ul {
	width: 100%;
	margin-left: 10px;
	z-index: 5;
}

#order-list article ul li {
	margin-bottom: 5px;
}

#order-list article li::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 6px;
	height: 6px;
	margin-right: 10px;
	background-color: #1c566e;
	border-radius: 50%;
}


#order-list article:hover span,
#order-list article:hover h4,
#order-list article:hover ul li {
	color: #fff;
}

#order-list article:hover ul li::before {
	background-color: #fff;
}

#order-list article div {
	opacity: 0;
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
}

#order-list article:hover div {
	opacity: 1;
}

#order-list article.default button {
	width: 100%;
}

#order-list article.default button:hover {
	border: 2px solid #fff;
	background-color: transparent;
	color: #fff;
}

#order-list article button,
#order-list article button + a {
	width: 48%;
	height: 40px;
	line-height: 36px;
	margin-left: 0;
	margin-right: 0;
	padding: 0 15px;
	border: 2px solid #fff;
	background-color: transparent;
	color: #fff;
	-webkit-transition: all .6s;
	transition: all .6s;
	margin-top: 20px;
}

#order-list article button + a {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.04em;
}

#order-list article:hover button,
#order-list article:hover button + a {
	z-index: 6;
	-webkit-transition: all .3s;
	transition: all .3s;
}

#order-list article button:hover,
#order-list article button:active,
#order-list article button + a:hover, 
#order-list article button + a:active {
    background: #fff;
    color: #9b38d6;
    -webkit-transition: all .3s;
    transition: all .3s;
}

#elems-list {
	width: 55%;
	height: 500px;
	position: relative;
}

#elems-list ul:first-child {
	width: 100%;
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

#elems-list ul:first-child li {
	display: block;
	width: 60%;
	height: 50px;
	line-height: 50px;
	padding: 0 15px;
	border-bottom: 2px solid #9b38d6;
	cursor: pointer;
	border-radius: 5px 5px 0 0;
}

.elems-tab > li.active {
	background-color: #9b38d6;
	color: #fff;
}

#elems-list ul:not(:first-child) {
	width: 100%;
	overflow-y: auto;
	height: 450px;
	position: absolute;
	top: 50px;
	left: 0;
	background-color: #fff;
	-webkit-transition: all .3s;
	transition: all .3s;
	padding: 15px;
}

#elems-list [data-tab="1"] {
	display: none;
}

#elems-list ul:not(:first-child) > li > span {
	display: block;
	padding: 10px 15px;
	border: 1px solid #e1e1e1;
	border-bottom-width: 2px;
	position: relative;
	cursor: pointer;
	margin-bottom: 10px;
}

#elems-list ul:not(:first-child) > li > span::after {
	content: '';
	position: absolute;
	display: block;
	opacity: .4;
	top: 7.5px;
	right: 15px;
	width: 25px;
	height: 25px;
	background: url(../images/switch.svg) no-repeat center center;
	background-size: cover;
}

#elems-list ul:not(:first-child) ol {
	display: none;
	margin-bottom: 10px;
}

#elems-list ul:not(:first-child) > li.active span::after {
	opacity: 1;
}

#elems-list ul:not(:first-child) > li ol li img {
	width: 100%;
	height: 50px;
}

#elems-list ul:not(:first-child) ol li {
	position: relative;
}

#elems-list ul:not(:first-child) ol li.block::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
	background: url(../images/block.svg) no-repeat left center;
	background-size: 30px;
}

#elems-list ul:not(:first-child) ol li.block label {
	z-index: 2;
}

#elems-list ul:not(:first-child) ol li.block label::before,
#elems-list ul:not(:first-child) ol li.block label::after {
	display: none;
}

#elems-mockup  {
	width: 40%;
	border: 3px dashed #e1e1e1;
	overflow-y: auto;
	height: 500px;
}

#elems-mockup p {
	padding: 10px;
    text-align: center;
    color: #c9c8c8;
}

#elems-mockup ul li {
	display: none;
}

#elems-mockup ul li.active {
	display: block;
}

#elems-mockup img {
	display: block;
	width: 100%;
}

#order-list .form div {
	width: 100%;
	height: auto;
}

#elems-mockup figure ul {
	padding: 10px;
}

#elems-mockup ul li {
	margin-bottom: 10px;
}

.data-order-mockup span {
	width: 100%;
    display: block;
    padding: 10px;
    text-align: center;
    border: 2px solid #e1e1e1;
    border-bottom: 0;
}

.data-order-mockup ul {
	width: 100%;
    display: block;
    text-align: center;
    border: 2px solid #e1e1e1;
}

.data-order-mockup li {
	padding: 10px
}

.data-order-mockup li:first-child,
.data-order-mockup li:last-child {
	padding: 0;
}

.form label {
	height: 100px;
}

#order-list  .form textarea:focus + label, 
#order-list  .form textarea.filled + label, 
#order-list  .form textarea:-moz-read-only + label {
	height: 130px;
}

#order-list  .form textarea:focus + label, 
#order-list  .form textarea.filled + label, 
#order-list  .form textarea:-webkit-read-only + label {
	height: 130px;
}

.form input[type=checkbox],
.form input[type=radio] {
	display: none;
}

.form input[type=checkbox] + label,
.form input[type=radio] + label {
	display: block;
	padding-left: 50px;
	height: auto;
	top: 0;
	position: relative;
}

.form input[type=checkbox] + label span,
.form input[type=radio] + label span {
	font-size: 18px;
	font-weight: 500;
}

.form input[type=checkbox] + label p,
.form input[type=radio] + label p {
	font-size: 16px;
}

.form input[type=checkbox] + label::before,
.form input[type=radio] + label::before {
	content: '';
	display: block;
	width: 40px;
	height: 4px;
	background-color: #e1e1e1;
	position: absolute;
	padding: 0;
	left: 0;
	top: 50%;
	margin-top: -2px;
	cursor: pointer;
}

.form input[type=checkbox] + label::after,
.form input[type=radio] + label::after {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #9b38d6;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;
	-webkit-transition: all .6s;
	transition: all .6s;
	opacity: .6;
	cursor: pointer;
}

.form input[type=checkbox]:checked ~ label::after,
.form input[type=radio]:checked ~ label::after {
	left: 20px;
	opacity: 1;
}

.form input[type=file] {
	display: none;
}

.form input[type=file] + label {
	width: 200px;
    position: static;
    min-height: 100px;
    padding: 10px;
    height: auto;
    display: inline-block;
    border: 3px dashed #e1e1e1;
    text-align: center;
    margin-right: 30px;
    vertical-align: middle;
    cursor: pointer;
    background: url(../images/download.svg) no-repeat center center;
    background-size: 50px;
}

.form input[type=file] + label img {
	width: 100%;
}

.form input[type=file] + label + p {
	display: inline-block;
	vertical-align: middle;
}

.form input[type=file] + label::after {
	display: none;
}

.form input[type=file] + label figure {
	width: 200px;
	min-height: 100px;
	padding: 10px;
	border: 3px dashed #e1e1e1;
	text-align: center;
	margin-right: 30px;
	cursor: pointer;
	background: url('../images/download.svg') no-repeat center center;
	background-size: 50px;
}

.form input[type=file] + label figure img {
	width: 100%;
}

.btn-individual {
	position: fixed;
    top: 50%;
    width: 300px;
    margin-top: -30px;
    left: -128px;
    height: 45px;
    line-height: 45px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    font-size: 16px;
}

.sendMessage p {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 50px;
	-webkit-transition: height, margin, opacity .3s;
	transition: height, margin, opacity .3s;
}

.sendMessage p:empty {
	margin: 0;
	height: 0;
	opacity: 0;
}

#order-list div:nth-child(5) ul li {
	display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    font-size: 20px;
}

#order-list .nav-order {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 20px;
}



#order-list .nav-order span {
	display: block;
	width: 50%;
	line-height: 20px;
	color: #000;
	padding: 15px;
	position: relative;
}

#order-list .nav-order span::before {
	content: '';
	display: block;
	position: absolute;
	top: 12.5px;
	width: 25px;
	height: 25px;
	background: url(../images/arrow.svg) no-repeat center center;
	background-size: contain;
	-webkit-transition: all .6s;
	transition: all .6s;
}

#order-list .nav-order span:first-child {
	padding-left: 40px;
	border-right: 1px solid #e1e1e1;
}

#order-list .nav-order span:first-child::before {
	left: 10px;
}

#order-list .nav-order span:first-child:hover::before {
	left: 5px;
	-webkit-transition: all .3s;
	transition: all .3s;
}

#order-list .nav-order span:last-child {
	padding-right: 40px;
	text-align: right;
	border-left: 1px solid #e1e1e1;
}

#order-list .nav-order span:last-child::before {
	right: 10px;
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}

#order-list .nav-order :last-child:hover::before {
	right: 5px;
	-webkit-transition: all .3s;
	transition: all .3s;
}

#order-price {
	width: 2px;
	height: 660px;
	background-color: #e1e1e1;
	position: relative;
}

#order-price div {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 2px;
	height: 0;
	-webkit-transition: height .3s;
	transition: height .3s;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#a32cd5), color-stop(#3db3e3), to(#0f475e));
	background-image: linear-gradient(to top, #a32cd5, #3db3e3, #0f475e);
}

#order-price span {
	position: absolute;
	bottom: 0;
	left: -20px;
	opacity: 0;
	white-space: nowrap;
	-webkit-transition: bottom .3s;
	transition: bottom .3s;
}

#set-order > div {
	width: 100%;
}

#section-order.navigation-none .nav-order,
#section-order.navigation-none #order-price {
	display: none;
}



#section-contacts h2 + div > div:first-child {
	width: 25%;
}

#section-contacts h2 + div > div:last-child {
	width: 70%;
}


#section-contacts li {
	margin-bottom: 3px;
}

#section-contacts div div > p {
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

#section-contacts .contact li a {
	display: block;
	padding-left: 40px;
	line-height: 40px;
	font-size: 18px;
	color: #000;
	margin-bottom: 15px;
}

#section-contacts .contact .phone a {
	background: url(../images/phone.svg) no-repeat center left;
	background-size: 30px;
}

#section-contacts .contact .email a {
	background: url(../images/mail.svg) no-repeat center left;
	background-size: 30px;
}

#login {
	padding: 10% 0;
}

#login h2 {
	text-align: center;
	margin-bottom: 40px;
}

#login form {
	width: 95%;
	max-width: 500px;
	padding: 15px;
	margin: 0 auto;
}

#login form a {
	color: #333;
	margin-top: 10px;
}

#personal .sidebar + div {
	width: 75%;
}

#personal article {
	width: 100%;
	min-height: 150px;
	padding: 15px;
	margin-bottom: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	border: 1px solid rgba(225, 225, 225, .5);
	border-bottom: 2px solid rgba(225, 225, 225, .5);
	position: relative;
}

#personal article h3 {
	width: 80%;
	font-weight: 500;
	margin-bottom: 20px;
}

#personal article > span {
	width: 30%;
	margin-right: 40px;
}

#personal .performed {
	width: 100%;
	height: 2px;
	background: #e1e1e1;
	padding-right: 60px;
	position: relative;
	margin: 30px 0;
	margin-right: 50px;
}

#personal .performed div {
	position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: width .3s;
    transition: width .3s;
    background-image: -webkit-gradient(linear, left top, right top, from(#a32cd5), color-stop(#3db3e3), to(#0f475e));
    background-image: linear-gradient(to right, #a32cd5, #3db3e3, #0f475e);
}

#personal .performed span {
	display: block;
	text-align: center;
	position: absolute;
    top: 5px;
    left: 0;
    opacity: 0;
    -webkit-transition: left .6s, opacity .6s;
    transition: left .6s, opacity .6s;
}

#personal article a {
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 100%;
	border-left: 1px solid rgba(225, 225, 225, .5);	
}

#personal article a::before {
	content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    background: url(../images/arrow.svg) no-repeat center center;
    background-size: contain;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

#personal table {
	width: 100%;
	border-collapse: collapse;
	border: 2px solid #e1e1e1;
	margin-bottom: 30px;
}

#personal table caption {
	margin: 15px 0;
	text-align: left;
	padding-left: 2px;
}

#personal table th,
#personal table td {
	border: 1px solid #e1e1e1;
	padding: 15px;
}

#personal table .section-head td {
	border-width: 2px;
	background: rgba(225, 225, 225, .3);
	font-weight: 400;
}

#personal table td img {
	width: 100%;
}

#personal #section-about form div {
	width: 100%;
}

.adaptive {
	width: 30px;
	height: 30px;
}

.adaptive.true {
	background: url(../images/check.svg) no-repeat center center;
    background-size: contain;
}

.adaptive.false {
	background: url(../images/uncheck.svg) no-repeat center center;
    background-size: contain;
}


@media screen and (max-width: 1440px) {

	#section-steps ul li h2 {
		font-size: 20px;
	}

	#section-steps ul li p {
		font-size: 16px;
	}

	#section-order h2 + div {
		padding: 0 45px;
	}
}

@media screen and (max-width:1200px) {
	#section-steps ul {
		-ms-flex-wrap : wrap;
		    flex-wrap : wrap;
	}

	#section-steps ul li:not(:last-child) {
		width : 50%;
		height : 30vh;
	}

	#section-steps ul li:last-child {
		width : 100%;
		height : 60px;
	}

	#section-steps ul li h2 {
		font-size : 24px;
	}

	#section-steps ul li p {
		font-size : 18px;
	}

	#order-steps li:not(:last-child) span:first-child::after {
		width : 190px;
	}
	
	#section-steps ul li:last-child a {
	    -webkit-writing-mode: horizontal-tb;
	        -ms-writing-mode: lr-tb;
	            writing-mode: horizontal-tb;
	     padding: 0;
	}
}

@media screen and (max-width: 1023px) {

	.nav-btn {
		display: block;
		z-index: 2000;
	}

	nav {
		height: 100vh;
		width: 100%;
		background-color: #fff;
		position: fixed;
		z-index: 1000;
		top: 0;
		right: 0;
		padding-top: 200px;
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
		-webkit-transition: all .3s;
		transition: all .3s;
	}

	nav ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding: 0 30px;
		max-width: 80%;
    	margin: 0 auto;
	}

	nav ul li {
		padding: 15px 0;
		border-bottom: 2px solid #e1e1e1;
	}

	nav ul li a {
	    font-size: 28px;
	}

	nav ul li:last-child {
	    display: none;
	}

	header.nav-active nav {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
		-webkit-transition: all .6s;
		transition: all .6s;
	}

	header > div > a {
		width: 45%;
		z-index: 2000;
	}

	.welcome header > div > a.link-home,
	header > div > a.link-home {
		display: block;
	}

	a.link-login {
		background: url(../images/login.svg) no-repeat center center;
    	background-size: 45px;
	}

	.welcome header {
		height: auto;
	}

	.welcome header > div {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		top: 0;
		-webkit-transform: none;
		        transform: none;
	}

	.welcome nav {
		display: block;
		width: 100%;
		max-width: 100%;
		margin-top: 0;
		position: fixed;
		height: 100vh;
	}

	section h2 {
		font-size: 32px;
	}

	#section-projects a {
		width: 100%;
		height: auto;
		margin-bottom: 30px;
	}

	#section-projects article img {
		width: 100%;
		margin-left: 0;
	}

	#section-contacts h2 + div > div:first-child {
		width: 100%;
		margin-bottom: 40px;
	}

	#section-contacts h2 + div > div:last-child {
		width: 100%;
	}

	#order-list article {
		width: 48%;
	}
}


@media screen and (max-width: 767px) {

	header > div {
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	}

	nav ul {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}

	nav ul li {
		width: 100%;
	}

	nav ul li a {
		padding: 0 10px;
	}

	nav ul li:last-child a {
		margin: 0 auto;
	}

	#section-steps ul li h2 {
		font-size: 24px;
	}

	#section-steps ul li:not(:last-child) {
		width: 100%;
	}

	#section-steps ul li p {
		font-size: 18px;
	}

	form div:not(:last-of-type) {
		width: 100%;
	}

	section h2 {
		font-size: 21px;
	}

	.welcome header > div {
		padding: 40px 15px;
	}

	.welcome nav {
		margin-top: 0;
	}

	.welcome nav ul li:last-child {
		margin-top: 30px;
	}

	section h2 {
		padding: 20px 50px;
    	line-height: 1.4;
	}

	footer {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding-bottom: 145px;
	}

	footer p {
		margin-bottom: 40px;
	}

	#section-about form div:not(:last-of-type),
	form div {
			width: 100%;
	}

	#section-projects a {
		height: 300px;
	}

	#section-projects a::before {
		opacity: .9;
	}

	#section-projects a article::before {
		top: 15px;
		left: 15px;
		opacity: 1;
	}

	#section-projects a article::after {
		bottom: 15px;
		right: 15px;
		opacity: 1;
	}

	#section-projects a article > div {
		-webkit-transform: scale(1);
		        transform: scale(1);
		opacity: 1;
	}

	#section-projects article img {
		display: none;
	}

	.sidebar {
		width: 100%;
		margin-right: 0;
		margin-bottom: 40px;
	}

	#personal .sidebar + div {
		width: 100%;
	}

	#order-list article {
		width: 100%;
	}

	#order-list article div {
		opacity: 1;
	}

	#order-list article button,
	#order-list article button + a {
		color: #9b38d6;
		border-color: #9b38d6;
		background-color: #fff;
	}

	#order-list article:hover button,
	#order-list article:hover button + a {
		border-color: #fff;
	}

	#order-price {
		width: 100%;
		margin: 20px;
	    padding: 10px;
	    border: 2px solid #9b38d6;
	    background: transparent;
    	height: auto;
	}

	#order-price div {
		display: none;
	}

	#order-price span {
		display: block;
	    text-align: center;
	    position: static;
	}

	#order-steps {
		position: fixed;
	    bottom: 85px;
	    left: 0;
	    z-index: 1000;
	    margin: 0;
	    height: auto;
	}

	#order-steps li:nth-child(1) span:first-child {
		background-color: #9b38d6;
	}
	#order-steps li:nth-child(2) span:first-child {
		background-color: #7f63e0;
	}
	#order-steps li:nth-child(3) span:first-child {
		background-color: #589ce3;
	}
	#order-steps li:nth-child(4) span:first-child {
		background-color: #3bb3e2;
	}
	#order-steps li:nth-child(5) span:first-child {
		background-color: #2ba3c5;
	}

	#section-order[data-open="1"] #order-steps li:nth-child(1) span:first-child, 
	#section-order[data-open="2"] #order-steps li:nth-child(2) span:first-child, 
	#section-order[data-open="3"] #order-steps li:nth-child(3) span:first-child, 
	#section-order[data-open="4"] #order-steps li:nth-child(4) span:first-child, 
	#section-order[data-open="5"] #order-steps li:nth-child(5) span:first-child {
		background-color: #fff;
	}

	#order-steps li span:first-child {
		width: 100%;
	    border-radius: 0;
	    height: 50px;
	    line-height: 50px;
	    margin: 0;
	}

	#order-steps li span:last-child {
		position: fixed;
	    bottom: 45px;
	    left: 0;
	    padding: 10px;
	    height: 40px;
	    width: 100%;
	    background: #fff;
	}

	.btn-individual {
		-webkit-transform: rotate(0);
		        transform: rotate(0);
	    bottom: 0;
	    margin: 0;
	    top: auto;
	    left: 0;
	    width: 100%;
	}

	#elems-list,
	#elems-mockup, 
	#order-list {
		width: 100%;
	}

	#section-order h2 + div {
		padding: 0;
	}

}

@media screen and (max-width: 500px) {

	header > div {
		padding-bottom: 100px;
	}

	.welcome header > div > a:first-of-type,
	header > div > a:first-of-type {
		-webkit-box-ordinal-group: 0;
		    -ms-flex-order: -1;
		        order: -1;
		width: 100%;
		margin-bottom: 30px;
	}

	.welcome header > div > a:first-of-type img,
	header > div > a:first-of-type img {
		width: 70%;
	}

	#section-projects article p {
		display: none;
	}

	#personal table th, #personal table td {
		font-size: 12px;
		padding: 10px;
	}

	#section-order h2 + div {
		padding: 0;
	}

	#order-list {
		width: 100%;
	}

	#order-list article div {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	#order-list article button,
	#order-list article button + a {
		width: 100%;
	}
}